<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Registro</title>
</head>

<body style="
    background:#111;
    color:white;
    font-family:Arial;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
">

<div style="
    width:350px;
    text-align:center;
">

    <h1>👤 Crear Usuario</h1>

    <form method="POST">

        <input
            type="text"
            name="user"
            placeholder="Usuario"
            required
            style="
                width:100%;
                padding:15px;
                margin-bottom:15px;
            "
        >

        <input
            type="password"
            name="password"
            placeholder="Contraseña"
            required
            style="
                width:100%;
                padding:15px;
                margin-bottom:20px;
            "
        >

        <button style="
            padding:10px 20px;
        ">
            Crear usuario
        </button>

    </form>

    <br>

    <a href="/login" style="color:lightgreen;">
        ⬅ Volver
    </a>

</div>

</body>
</html>